.wp-block-shortcake-preview {
	position: relative;
}

.wp-block-shortcake-preview-overlay {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.shortcode-ui-block-inspector-form-item-label, .shortcode-ui-block-inspector-form-item-description {
	display: block;
}

.shortcode-ui-block-inspector-form-item {
	padding: 0 0 10px;
}
.shortcode-ui-block-inspector-form-item-label,
.shortcode-ui-block-inspector-form-item-description,
.shortcode-ui-block-inspector-form-item-input {
	display: block;
	width: 100%;
}
.shortcode-ui-block-inspector-form-item-label {
	font-weight: 600;
	line-height: 1.4;
	padding: 3px 0;
}
.shortcode-ui-block-inspector-form-item-description {
	font-style: italic;
	color: #999;
	padding: 3px 0;
}
.shortcode-ui-block-inspector-form-item:not(:last-child) {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}


